.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  
  .left {
    flex-direction: row-reverse;
  }
  
  .right {
    flex-direction: row;
  }
  
  .content {
    flex: 1;
    text-align: left;
    padding-left: 10px;
  }

  .text-center {
    text-align: left;
  }
  img {
    max-width: 100%;
    height: auto;
  }