.create-course-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"],
  textarea,
  button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .font-semibold{
    font-weight: 800;
    text-align: center;
    font-size: 45px;
    font-family: serif;
  }
  
  .course-card {
    display: flex; /* Use flexbox to arrange content */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
  }
  
  .course-details {
    flex: 1; /* Take up remaining space */
    padding: 10px;
  }
  
  .course-media {
    max-width: 200px; /* Adjust max-width as needed */
    margin-right: 20px; /* Add margin to separate media and details */
  }
  
  .course-images img,
  .course-videos video {
    max-width: 100%;
    height: auto;
  }
  
  .uploaded-files {
    margin-top: 10px;
  }
  
  /* Add additional styling as needed */
  